<div *ngIf="user">
  <div class="ui raised segment">
    <h3 class="ui inverted centered block header">{{user.name}}</h3>
    <div class="ui items">
      <div class="item">
        <div class="thumbnail image">
          <img src="{{user.avatar_url}}">
        </div>
        <div class="content">
          <a href="{{user.html_url}}">{{user.login}}</a>
          <div class="ui divider"></div>
          <div class="ui list">
            <div class="item">
              <p><i class="marker icon"></i> {{user.location}}</p>
            </div>
            <div *ngIf="user.blog">
              <div class="item">
                <p><i class="external icon"></i> <a href="{{user.blog}}">{{user.blog}}</a></p>
              </div>
            </div>
            <div *ngIf="user.company">
              <div class="item">
                <p><i class="users icon"></i> {{user.company}}</p>
              </div>
            </div>
          </div>
          <div class="ui horizontal list">
            <div class="item">
              <p>{{user.followers }} Followers</p>
            </div>
            <div class="item">
              <p>{{user.following }} Following</p>
            </div>
          </div>
          <div class="meta" *ngIf="user.bio">
            <span>Bio</span>
            <p>{{user.bio}}</p>
          </div>
          <div class="description">
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
